@tailwind base;
@tailwind components;
@tailwind utilities;

.container-de {
  --max-width: 1500px;
  --container-padding: 1rem;
  width: min(var(--max-width), 100% - var(--container-padding) * 2) !important;
  margin-inline: auto;
}

.bg-primary-gradient {
  background: linear-gradient(359.28deg, #1a4789 11.87%, #000000 194.74%);
}
